// Custom Theme Variables

// Override Bootstrap's default color palette
$primary:   #2A75E4;
$secondary: #6c757d;
$success:   #198754;
$info:      #0dcaf0;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f9f9f9;
$dark:      #1a1a1a;

// Override other variables
$border-radius: 0.4rem;
